.image-profile {
  width: 720px;
}

.ap-container {
  padding-top: 8%;
}

.ap-line {
  border: 8px solid rgb(29, 29, 29);
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
}

.ap-desc {
  font-family: "Visby";
  text-transform: lowercase;

  margin-left: 30px;
}

.artist-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  /* padding: 1rem; */
}

.column-two {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.profiles-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(72, 71, 71, 0.2) 0px 3px 9px 0px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 3rem;
}
