.image-profile {
  width: 100%;
}

.ap-container {
  padding-top: 8%;
}

.ap-line {
  border: 8px solid rgb(29, 29, 29);
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
}

.ap-desc {
  font-family: "Visby";
  text-transform: lowercase;
  line-height: 1;
}

.artist-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  /* padding: 1rem; */
}

.column-two {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
