.overlay {
  font-family: "Tusker-38";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffffec;
  font-size: 35vw;
  font-weight: bold;
  letter-spacing: 5px;
  white-space: nowrap;
  padding: 2rem;
}

@media (max-width: 968px) {
  .overlay {
    font-size: 30vw;
    letter-spacing: 0px;
    line-height: 10px;
  }
}
