body {
  margin: 0;
  font-family: "HexFranklin";
  font-weight: 100;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.nav-- {
  background-color: #e2fd00;
  width: 100%;
  z-index: 100; /* Or higher if needed */
  position: fixed;
  padding: 0.5rem;
}
