body {
  margin: 0;
  font-family: "HexFranklin";
  font-weight: 100;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.nav-- {
  background-color: #e2fd00;
  width: 100%;
  z-index: 100;
  /* margin-top: -50px; */
  position: fixed;
  padding: 0.8rem;
}
