@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Tusker-38";
  src: url("./Fonts/TuskerGrotesk-4600Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Visby";
  src: url("./Fonts/VisbyRegular.ttf") format("truetype");
}

@font-face {
  font-family: "HexFranklin";
  src: url("./Fonts/HexFranklin.ttf") format("truetype");
}
